body{
    background: #fff;
}
.detail{
    .tab-bar{
        font-size: px2rem(16px);
        display: flex;
        border: 1px solid #f0f0f0;
        margin-top: px2rem(64px);
        .tab-item{
            flex: 1;
            height: px2rem(45px);
            line-height: px2rem(45px);
            position: relative;
            color: #666;
            text-align: center;
            &.active{
                &::after{
                    content: '';
                    display: block;
                    height: px2rem(4px);
                    width: px2rem(60px);
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    background: #ffd161;
                }
            }
        }
    }
    .mask{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
    }
}


// 点菜
.menu-inner{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: px2rem(110px);
    display: flex;
    overflow: hidden;
    .left-bar{
        width: px2rem(85px);
        background: #efefef;
        overflow: auto;
        height: 100%;
    }
    .left-bar-inner{
        padding-bottom: px2rem(85px);
    }
    .left-item{
        font-size: px2rem(14px);
        color: #656565;
        text-align: center;
        height: px2rem(60px);
        border-bottom: 1px solid #bfbfbf;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            background-color: #fff;
        }
    }
    .item-text{
        line-height: px2rem(20px);
        align-items: center;
        text-align: center;
    }
    .item-icon{
        width: px2rem(20px);
        height: px2rem(20px);
        display: inline-block;
        vertical-align: px2rem(-4px);
        margin-right: px2rem(6px);
    }
    .right-list{
        height: 100%;
    }
    .right-list-item{
        font-size:px2rem(16px);
        padding-bottom: px2rem(80px);
    }
    .right-content{
        flex: 1;
        margin-left: px2rem(10px);
        height: 100%;
        overflow: auto;
    }
    .right-title{
        font-size: px2rem(13px);
        color: #333;
        padding-left: px2rem(5px);
        margin-top: px2rem(5px);
        border-left: px2rem(2px) solid #ffd161;
    }
}

.menu-item{
    display: flex;
    padding: px2rem(25px) 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    .img{
        width: px2rem(62px);
        height: px2rem(62px);
        margin-right: px2rem(10px);
    }
    .menu-item-right{
        flex: 1;
    }
    .item-title{
        font-size: px2rem(16px);
        color: #2f2f2f;
    }
    .item-desc, .item-zan{
        color: #a9a9a9;
        font-size: px2rem(12px);
        margin-top: px2rem(6px);
        line-height: px2rem(14px);
        padding-right: px2rem(4px);
        &.item-desc{
            line-height: px2rem(17px);
        }
    }
    .item-price{
        margin-top: px2rem(10px);
        color: #fe4d3d;
        font-size: px2rem(18px);
    }
    .unit{
        color: #a9a9a9;
        font-size: px2rem(12px);
    }
    .select-content{
        position: absolute;
        right: px2rem(9px);
        bottom: px2rem(21px);
        display: flex;
        .plus{
            width: px2rem(25px);
            height: px2rem(25px);
            background-size: cover;
            background-image: url('../../assets/images/plus.png')
        }
        .minus{
            width: px2rem(25px);
            height: px2rem(25px);
            background-size: cover;
            background-image: url('../../assets/images/reduce.png')
        }
        .count{
            font-size: px2rem(15px);
            color: #2f2f2f;
            width: px2rem(20px);
            height: px2rem(25px);
            line-height:px2rem(25px);
            margin:  0 px2rem(2px);
            text-align: center;
        }
    }
}

// 购物车
.shop-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .bottom-content{
        height: px2rem(50px);
        display: flex;
        background: rgba(51, 51, 51, .9);
    }
    .shop-icon{
        width: px2rem(55px);
        height: px2rem(55px);
        background-image: url('../../assets/images/shop-icon.png');
        background-size: cover;
        margin-top: px2rem(-15px);
        margin-left: px2rem(12px);
        position: relative;
    }
    .price-content{
        flex: 1;
        padding-top: px2rem(8px);
        padding-left: px2rem(7px);
    }
    .total-price{
        font-size: px2rem(20px);
        color: #fff
    }
    .other-price{
        font-size: px2rem(12px);
        color: #999;
        margin-top: px2rem(2px);
    }
    .dot-num{
        position: absolute;
        background: #ff0000;
        width: px2rem(15px);
        height: px2rem(15px);
        font-size: px2rem(12px);
        color: #fff;
        border:1px solid #fff;
        top: px2rem(2px);
        right: 0;
        border-radius: 50%;
        text-align: center;
        line-height: px2rem(15px);
    }
    .submit-btn{
        width: px2rem(110px);
        height: 100%;
        background-color: #ffd161;
        color: #333;
        font-size: px2rem(16px);
        line-height: px2rem(50px);
        text-align: center;
    }
    .choose-content{
        background: #fff;
    }
    .content-top{
        height: px2rem(35px);
        background: #f4f4f4;
        font-size: px2rem(11px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .clear-car{
        margin-left: px2rem(10px);
        margin-right: px2rem(5px);
        &::before{
            content: '';
            width: px2rem(13px);
            height:px2rem(13px);
            display: block;
            background-image: url('../../assets/images/clear.jpeg');
            background-size: cover;
            float: left;
            margin: -1px;
            margin-right: px2rem(2px);
        }
    }
    .choose-item{
        display:flex;
        font-size: px2rem(15px);
        color: #2f2f2f;
        height: px2rem(35px);
        align-items: center;
        padding-top: px2rem(10px)x;
        padding-bottom: px2rem(10px);
        border-bottom: 1px solid #ddd;
        .price{
            margin-left: px2rem(5px);
            margin-right: px2rem(25px);
        }
    }
    .item-name{
        flex: 1;
        padding-left: px2rem(10px);
    }
    .select-content{
        position: relative;
        display: flex;
        margin-right: px2rem(8px);
    }
    .plus{
        width: px2rem(25px);
        height: px2rem(25px);
        background-size: cover;
        background-image: url('../../assets/images/plus.png')
    }
    .minus{
        width: px2rem(25px);
        height: px2rem(25x);
        background-size: cover;
        background-image: url('../../assets/images/reduce.png')
    }
    .count {
        font-size: px2rem(15px);
        color: #2f2f2f;
        width: px2rem(20px);
        height: px2rem(25px);
        line-height: px2rem(25px);
        margin-left: px2rem(2px);
        margin-right: px2rem(2px);
        text-align: center;
    }
}

// 评价
.comment-score{
    display: flex;
    padding: px2rem(15px) px2rem(25px);
    border-top: px2rem(10px) solid #f6f6f6;
    border-bottom: 1px solid #d5d5d5;
    .mail-score-content{
        display: flex;
        flex-direction: column;
    }
    .other-score-content{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
    }
    .taste-star-wrap, .package-star-wrap{
        margin: 0 px2rem(15px);
    }
    .package-score, .taste-score{
        display: flex;
        justify-content: center;
    }
    .mail-score{
        font-size: px2rem(22px);
        color: #ffb000;
        margin-bottom: px2rem(5px);
    }
    .mail-text{
        font-size: px2rem(12px);
        color: #656565;
    }
    .taste-text,.package-text {
        font-size: px2rem(12px);
        color: #554343;
    }
    .taste-score-text, .package-score-text{
        font-size: px2rem(15px);
        color: #ffb000;
    }
    .send-score-content {
        display: flex;
        flex-direction: column;
        margin-top: px2rem(3px);
    }
    .send-score {
        font-size: px2rem(24px);
        color: #999;
        margin-bottom: px2rem(5px);
        text-align: center;
    }
    .send-text {
        font-size: px2rem(12px);
        color: #999;
    }
}

.comment-item{
    display: flex;
    padding: px2rem(15px) px2rem(15px) px2rem(12px) px2rem(15px);
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    .comment-time{
        position: absolute;
        right: px2rem(20px);
        top: px2rem(20px);
        color: #898989;
        font-size: px2rem(12px);
    }
    .avatar{
        width: px2rem(40px);
        height: px2rem(40px);
        border-radius: 50%;
    }
    .nickname{
        color: #2f2f2f;
        font-size: px2rem(16px);
    }
    .star-and-time{
        margin-top: px2rem(6px);
        display: flex;
    }
    .send-time{
        color: #898989;
        font-size: px2rem(12px);
        margin-left: px2rem(10px);
    }
    .comment-text{
        margin-top: px2rem(6px);
        font-size: px2rem(14px);
        line-height: px2rem(202px);
    }
    .img-content{
        margin-top: px2rem(8px);
    }
    .img-item{
        display: block;
        float: left;
        width: px2rem(80px);
        height: px2rem(80px);
        background-size: cover;
        background-position: center center;
        margin-right: px2rem(5px);
    }
    .tag-info{
        margin-top:px2rem(4px);
        color: #898989;
        font-size: px2rem(12px);
        line-height: px2rem(15px);
        background-image: url('../../assets/images/tag.png');
        background-repeat: no-repeat;
        background-position: left 1px;
        background-size: px2rem(12px) px2rem(12px);
        padding-left: px2rem(20px);
    }
    .like-info{
        margin-top: px2rem(4px);
        color: #576b95;
        font-size: px2rem(12px);
        line-height: px2rem(18px);
        background-image: url('../../assets/images/favor.png');
        background-repeat: no-repeat;
        background-position: left 1px;
        background-size: px2rem(12px) px2rem(12px);
        padding-left: px2rem(20px);
    }
}

// 商家信息
.restanurant-content {
    background-color: #f6f6f6;
    overflow: hidden;
    .restanurant-basic {
        color: #2f2f2f;
        background-color: #fff;
        font-size: px2rem(14px);
        margin-top: px2rem(10px);
        padding-right: px2rem(10px);
        padding-left: px2rem(15px);
    }
    .res-section {
        padding-top: px2rem(15px);
        padding-bottom: px2rem(15px);
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        &:before {
            display: block;
            content: '';
            margin-right: px2rem(20px);
            width: px2rem(16px);
            height: px2rem(16px);
            background-size: cover;
        }
    }
    .restanurant-tel::before {
        width: px2rem(19px);
        background-image: url('../../assets/images/tel.png');
    }
    .restanurant-addr::before {
        width: px2rem(19px);
        background-image: url('../../assets/images/address.png');
    }
    .restanurant-send-time::before {
        background-image: url('../../assets/images/time.png');
    }
    .restanurant-send-type::before {
        background-image: url('../../assets/images/info.png');
    }
    .addr-wrap {
        display: flex;
    }
    .addr-text {
        flex: 1;
        line-height: px2rem(20px);
        margin-top: px2rem(-3px);
    }
    .meituan-send {
        background-color: #ffd161;
        color: #333;
        font-size: px2rem(10px);
        padding: px2rem(2px);
        border-radius: px2rem(4px);
        margin-right: px2rem(4px);
    }
    .restanurant-pay-type::before {
        display: none;
    }
    .icon {
        width: px2rem(17px);
        height: px2rem(17px);
        margin-right: px2rem(20px);
    }
}